.nav-container{
  width: 900px;
  margin: auto auto;
}

.site-title{
  font-size: 180%;
  font-family: "Pacifico", cursive;
  margin-top: -5px;
  float: left;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.search-container{
  width: 200px;
  float: left;
  padding-top: 11px;
  padding-left: 15px;
}

.sign-out{
  margin-top: 11px;
  float: right;
  border: 1px;
  border-radius: 5px;
  background: #19D3CF;
  overflow: hidden;
  margin-left: 5px;
  box-shadow: 1px 1px 1px 1px #0A5452;
}

.sign-out:hover{
  box-shadow: 1px 1px 4px 3px;
}

.home-nav-link{
  float: right;
  height: 100%;
  border-left: 1px solid #B3B3B3;
  position: relative;
  margin-top: 13px;
  padding: 0 5px;
  cursor: pointer;
  color: white;
}

.home-nav-link:hover{
  background: #107573;
}

.main-nav{
  height: 40px;
  background: #108784;
}

.nav-avatar{
  float:left;
  width: 15px;
  height: 15px;
  padding-right: 3px;
}
