.nav-container{
  width: 900px;
  margin: auto auto;
}

.site-title{
  font-size: 180%;
  float: left;
  padding-top: 7px;
  cursor: pointer;
  color: white;
}

.search-container{
  width: 200px;
  float: left;
  padding-top: 12px;
  padding-left: 10px;
}

.home-nav-link{
  float: right;
  height: 100%;
  border-left: 1px solid grey;
  position: relative;
  margin-top: 12px;
  padding: 0 5px;
  cursor: pointer;
  color: white;
}

.main-nav{
  height: 40px;
  background: #108784;
}
