.profile-header{
  width: 900px;
  margin: 0 auto;
}

.title{
  float:left;
  /*font: 32px;*/
}

.header-button{
  float:right;
  /*font: bold 32px*/
}

.profile-nav-link{
  padding: 10px;
  color: blue;
  cursor: pointer;
  border: 1px solid grey;
  float: left;
}

button{
  cursor: pointer;
}

.profile-nav{
  padding-left: 300px;
  border: 1px solid grey;
}
