<script type="text/javascript">
  $(document).ready(function(){
    DrawIt.initialize();
  });
</script>

<div id="main" class="group">
  <div id="header"></div>
  <div id="cover"></div>
  <div id="content"></div>
</div>
