<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<script type="text/javascript">
  $(document).ready(function(){
    DrawIt.initialize();
  });
</script>

  <div id="header"></div>
  <div id="cover"></div>
  <div id="content"></div>
  <div class="foot-seperation">

  </div>
  <div class="footer">
    <div class="footer-container">

    </div>
  </div>
