.new-comment-text{
  width: 90%;
  border-radius: 5px;
}

.new-comment-form{
  border-radius: 5px;
  margin-top: 10px;
}

.new-comment-form button{
  float:right;
  margin-right: 15px;
}

.new-comment-form button:hover{
  background: lightblue;
  overflow:hidden;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.comment-avatar{
  width: 30px;
  height: 30px;
  float: left
}

.comment-content{
  margin-left: 5px;
  float: left;
  width: 80%;
}

.activity-comment-wrapper{
  background: #F2F2F2;
  border-top: 1px solid lightgrey;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
}
.comment{
  margin-top: 5px;
}

.comment-body{
  padding-left: 3px;
}

.comments{
  max-height: 100px;
  overflow-y: scroll;
}

.comment-heart{
  width: 20px;
  height: 20px;
  margin-top: 4px;
  float: left;
  cursor: pointer;
}

.comment-heart-count{
  font-size: 80%;
  line-height: 30px;
  margin-left: 2px;
  float: left;
}

.comment-right{
  float: left;
  width: 80%;
}

.comment-hearts{
  float: left;
}
