.search{
  width: 300px;
  height: 16px;
  border:1px;
  overflow: hidden;
  border-radius: 3px;
}

.search-results{
  z-index: 1;
  width: 300px;
  max-height: 300px;
  top: 33px;
  position: absolute;
  background: #DFE6E8;
  cursor: pointer;
  border: 1px solid grey;
  overflow-y: scroll;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 1px #818182;
}

.search-result-img{
  width: 40px;
  float:left;
  height: 40px;
  padding: 8px;
}

.search-result-content{
  float: left;
  font-size: 130%;
  padding-top: 15px;
}

.search-result-wrapper{
  border-bottom: 1px solid grey;
}
