<div class="main-portfolio-attributes">
  <span class="main-portfolio-name"><%=mainPortfolio.escape("name")%></span>
  <% if(mainPortfolio.get("is_user")){%>
    <button class="edit-main-portfolio">Edit</button>
  <% }%>
</div>

<div class="main-portfolio-drawings"></div>
