<div class="main-portfolio-attributes">
  <span class="main-portfolio-name"><%=mainPortfolio.escape("name")%></span>
  <span>Hearts: <%= mainPortfolio.escape("hearts_count")%></span>
</div>

<div class="main-portfolio-drawings"></div>
<div class="main-portfolio-comments"></div>
