<div class="comment-avatar">
  <img src="<%= comment.escape('avatar_url') %>" alt="" />
</div>

<div class="comment-right">
  <div class="comment-content">
    <strong class="comment-username"><%= comment.escape('username') %>:</strong>
    <span class="comment-body"><%= comment.escape("body") %></span>
  </div>
  <div class="comment-hearts">
    
  </div>
</div>
