.drawing-thumbnail-wrapper{
  width: 210px;
  padding-left: 10px;
  padding-top: 10px;
  float: left;
}

.drawing-thumbnail{
  width:100%;
  margin: auto
}

.blank-drawing{
  min-width: 200px;
  min-height: 100px;
}
