#background-preview{
  float: left;
  height: 80px;
  width: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
}


.preview-wrapper{
  float: left;
  height: 80px;
  width: 80px;
  padding-top: 5px;
  padding-left: 5px
}
