<form class= "group">
  <div class="drawings-preview">

  </div>
  <div class="porfolio-form">
    <label >Porfolio Cover:</label>
    <div class="porfolio-image">
      <img class="blank-drawing" alt="" />
    </div>
    <label>Porfolio Name:
      <input type="text" name="porfolio[name]" value="">
    </label>
    <textarea name="porfolio[description]" rows="8" cols="40"></textarea>
    <button class="submit">Create Porfolio</button>
  </div>
</form>
