<div class="header-nav group"></div>

<div class="container-content group">
  <div class="new-drawing-container"></div>

  <div class="inner_profile_nav group">
    <span id="your_drawings" class='drawings-link'>Your Drawings</span>
    <span id="favorites" class='drawings-link'>Favorites</span>
    <span id="portfolios" class='drawings-link'>Portfolios</span>
  </div>

  <div class="drawings-wrapper"></div>
</div>
