.tag-remove{
  cursor: pointer;
  float: right;
  display: none;
  color: black;
  margin-left: 3px;
  font-size: 60%;
  line-height: 11px;
}

.tag-details{
  float: left;
  padding: 1px 2px;
  color: #3691AD;
  cursor: pointer;
}

.tag-wrapper{
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.new-tag{
  cursor: pointer;
  float: left;
  margin-left: 50px;
  color: #53C2B7;
}

.new-tag-text{
  width: 115px;
}

.submit-tag{
  float:right;
}

.tag-details:hover .tag-remove{
  display: block;
}

.new-tag:hover{
  text-shadow: 2px 2px 2px lightgrey;
}
