.tag-remove{
  cursor: pointer;
  float: left
}
.tag-detail{
  float: left;
}

.tag-wrapper{
  float: left;
  width: 50px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  background: #EFF2ED
}

.new-tag{
  cursor: pointer;
  float: left;
  margin-left: 50px;
  background: #F0F0F0;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px 1px lightgrey;
  overflow: hidden;
}
