<div class="avatar-comment-left">
  <img src="<%= profile.escape('avatar_url') %>">
</div>

<div class="avatar-comment-right">
  <strong class="avatar-username"><%= profile.escape('username') %></strong>
</div>
