<div class="friend-preview">
  <img class="avatar" src="<%= friend.escape('avatar_url')%>"/>
  <span class="friend-name"><%= friend.escape("username")%></span>
  Mutual Friends: <%= friend.escape("mutual_friends_count")%>
</div>

<div class="friend-actions">
  <button class=".remove-friend">remove</button>
</div>
