<div class="friend-preview">
  <%= friend.escape("username")%>
  Mutual Friends: <%= friend.escape("mutual_friends_count")%>
</div>

<div class="friend-actions">
  <button class=".remove-friend">remove</button>
</div>
