<div class="favorite">
  <% if(drawing.escape("is_favorite") ==="true"){%>
    <%="Favorited"%>
  <% } else{ %>
    <%="Not Favorited"%>
  <% } %>
</div>
<div class="heart">
  hearts <%= drawing.escape("hearts_count") %>
</div>
