
  <div class='drawing-show-left'>
    <img src="<%=drawing.escape('file_url')%>"/>
  </div>

  <div class="drawing-show-right">
    <div class='drawing-avatar'></div>
    <div class="drawing-heart group"></div>
    <div class="description"><%= drawing.escape('description') %></div>
    <div class="tags group"></div>
  <div class="drawing-show-bottom">
  </div>
  </div>
