<div id="background-preview"
  data-id="<%= drawing.id %>"  
  style="background-image: url(<%=drawing.escape('file_url')%>)">
 <input type="checkbox"
    name="portfolio[drawing_ids][]" value="<%=drawing.id%>">
</div>
