<div class=drawing-show-top>
  <div class='drawing-show-left'>
    <img src="<%=drawing.escape('file_url')%>"/>
  </div>

  <div class="drawing-show-right">
    <div class="description"></div>
    <div class="hearts"></div>
    <div class="tags"></div>
  </div>
</div>

<div class="drawing-show-bottom">
</div>
