<div class="favorite">
  <% if(drawing.escape("is_favorite") ==="true"){%>
    <img src="https://www.filepicker.io/api/file/jux9kv4SuqWkOivRgJTg" alt="" />
  <% } else{ %>
    <img src="https://www.filepicker.io/api/file/3WnOGsUBRS0APWmoKxyC" alt="" />
  <% } %>
</div>
<div class="heart">
  
</div>
<div class='heart-count'><%= drawing.escape("hearts_count") %></div>
