<img class="drawing-thumbnail" src="<%= drawing.escape('file_url')%>"/>
  <div class="drawing-thumbnail-overlay">
    <span>hearts <%= drawing.escape("hearts_count") %></span>
  </div>
<div class='modal-container'>
