<div class="main-container group">

  <div class="drawings-header group">
    <span class="drawings-title">Drawings</span>
    <button id="new_porfolio" class="drawings-button">Create Porfolio</button>
    <button id="new_drawing" class="drawings-button">Add Drawing</button>
  </div>

  <div class="container-content group">
    <div class="new-drawing-container"></div>

    <div class="drawings-nav group">
      <span id="your_drawings" class='drawings-link'>Your Drawings</span>
      <span id="favorites" class='drawings-link'>Favorites</span>
      <span id="porfolios" class='drawings-link'>Porfolios</span>
    </div>

    <div class='drawings-wrapper'></div>
  </div>

</div>
