<div class='group'>
  <div class="new-drawing-preview-wrapper">
    <img class="new-drawing-preview"
      src="https://www.filepicker.io/api/file/9ESdUxBiQxO6bz3oBpo8"/>
    <strong class="pick">Choose a Drawing!</strong>
  </div>

  <div class="new-drawing-right">
    <textbox class="drawing[description]">
    <div class="new-tags-wrapper"></div>
  </div>
</div>

<button class="submit-drawing">Upload Drawing!</button>
