<div class="new-drawing-preview-wrapper">
  <img class="new-drawing-preview"src=""/>
</div>
<button class="pick">Choose a Drawing!</button>

<textbox class="drawing[description]">

<div class="new-tags-wrapper">
</div>

<button class="submit">Upload Drawing!</button>
