.portfolio-thumbnail-wrapper{
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
  float:left;
}

.portfolio-thumbnail{
  width:100%;
}

.portfolios-list{
  border: 1px solid lightgrey;
  box-sizing: border-box;
  background: #FAFAFA;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 20px;
  min-height: 100px;
}
