.log-in-form{
  float: right;
  height: 100%;
  position: relative;
  margin-top: 8px;
  padding: 0 5px;
  cursor: pointer;
  color: white;
}

.form-button{
  margin-top: 15px;
}

.log-in-title{
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 350%;
  margin-top: -16px;
  float: left;
  cursor: default;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.log-in-container{
  height: 60px;
  background: #108784;
  overflow: hidden;
}

.log-in-wrapper{
  width: 1000px;
  margin: 0 auto;
}

.log-in-content{
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;=
}

#myCanvas{
  float: left;
}

.gradient{
  position:fixed !important;
  position:absolute;
  top:60px;
  right:0;
  bottom:0;
  left:0;
}

input{
  border: 1px solid grey;
  height: 15px;
  border-radius: 5px;
}

.input-field{
  float:left;
  width: 140px;
  cursor: default;
}

.input-field label{
  font-weight: bold;
  font-size: 75%;
}
