.sign-up-container{
  width: 400px;
  height: 375px;
  border: 0px solid;
  float: right;
  border-radius: 10px;
  background: #EDEDED;
  overflow: hidden;
  box-shadow: 2px 2px 3px 3px #DEDEDE;
}

.sign-up-container input{
  height: 30px;
  width: 230px;
  margin: 5px auto;
  display: block;
  font-size: 130%;
}

.input-container{
  margin-top: 40px;
  margin-bottom: 30px;
}

.sign-up-title{
  text-align: center;
  display: block;
  font-size: 250%;
  margin-bottom: 10px;
}

.new-button{
  margin: 0 auto;
  display: block;
  font-size: 180%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: lightblue;
  box-shadow: 1px 1px 1px lightgrey;
}

.new-button:hover{
  background: #108784;
  box-shadow: 1px 1px 2px 2px grey;
}

.sign-up-container p{
  margin: 5px;
  font-size: 120%;
  padding-top: 2px;
  text-align: center;
}
