.activity-wrapper{
  width: 100%;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #FAFAFA;
  overflow: hidden;
  box-sizing: border-box;
}

.activity-image-wrapper .drawing-thumbnail-wrapper{
  width: 350px;
  margin-left: 50px;
}

.activity-image-wrapper .drawing-thumbnail-wrapper .drawing-thumbnail-overlay{
  width: 350px;
}

.activity-avatar-image{
  width: 40px;
  height: 40px;
  float: left;
}

.activity-avatar-wrapper{
  margin-left: 20px;
  padding-top: 20px;
}
.activity-avatar-name{
  margin-left: 10px;
  margin-top: 10px;
  color: #3691AD;
  float: left;
}
