<form class= "group">
  <div class="drawings-preview">

  </div>
  <div class="portfolio-form">
    <label >Portfolio Cover:</label>
    <div class="portfolio-image">
      <img class="blank-drawing" alt="" />
    </div>
    <label>Portfolio Name:
      <input type="text" name="portfolio[name]" value="">
    </label>
    <textarea name="portfolio[description]" rows="8" cols="40"></textarea>
    <button class="submit">Create Portfolio</button>
  </div>
</form>
