<div class="portfolio-attributes">
  <span class="portfolio-name"><%=portfolio.escape("name")%></span>
  <span>Hearts: <%= portfolio.escape("hearts_count")%></span>
  <span class="portfolio-description"><%=portfolio.escape("description")%></span>
</div>

<div class="portfolio-drawings"></div>
<div class="portfolio-comments"></div>
