<!-- <div class="portfolio-attributes">
  <div class="portfolio-heart">

  </div>
  <span class="portfolio-description"><%=portfolio.escape("description")%></span>
</div> -->

<div class="portfolio-drawings"></div>
<div class="portfolio-comments"></div>
