<div class='input-field'>
  <label for="">Username :
    <input type="text" name="user[username]" value="">
  </label>
</div>
<div class='input-field'>
  <label >Password:
    <input  type="password" name="user[password]" value="">
  </label>
</div>
<button class="sign-out form-button" >Log In</button>
