<form  class='sign-up'>
  <div class='input-container'>
    <strong class='sign-up-title'>Sign Up!</strong>
    <input type="text" name="user[username]" value="" placeholder="Username">
    <input type="password" name="user[password]" value="" placeholder="Password">
    <input type="password" name="user[password_confirmation]" value="" placeholder="Password Confirmation">
  </div>
  <button class='new-user'>Sign Up</button>
</form>
