<div class='notification-wrapper'>
  <div class='notification-avatar'>
    <img src="<% notification.escape('avatar_url') %>"/>
  </div>

  <div class='notification-content'>
    <span><%= notification.escape("content") %></span>
  </div>

  <div class='modal-container'><div>
</div>
