.avatar-left{
  width: 60px;
  height: 60px;
  float: left;
  cursor: pointer;
  border: 1px;
  border-radius: 3px;
  overflow: hidden
}

.avatar-right{
  padding-left: 5px;
  padding-top: 10px;
  float: left;
}

.avatar-username{
  font-size: 80%;
  cursor: pointer;
}

.profile-avatar-image{
  width: 97%;
  height: 97%;
  padding: 2px;
}
