<div class="activity-avatar-wrapper group">
  <div class='activity-avatar-image'>
    <img src="<%= avatar.escape('avatar_url') %>" alt="" />
  </div>
  <strong class="activity-avatar-name"><%= avatar.escape('username') %></strong>
</div>
<div class='activity-image-wrapper group'>
</div>

<div class='activity-comment-wrapper'>
</div>
