<div class="feed-buttons">
  <button id="top-feed" class="feed-button">Top Drawings</button>
  <button id="my-feed" class="feed-button">My Feed</button>
</div>
<div class="feed-content-wrapper">

</div>
