.drawing-show-top{
  width: 600px;
}

.drawing-show-left{
  width: 400px;
  float: left;
}

.drawing-show-left img{
  width: 100%;
}

.drawing-show-right{
  width: 180px;
  overflow: scroll;
  padding-left:10px;
  float:left;
}

.drawing-show-bottom{
  width: 600px;
  height: 100px;
  padding-top: 5px;
  overflow: scroll;
}
