.drawing-thumbnail-wrapper{
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
  position:relative;
  overflow: hidden;
}

.drawing-thumbnail{
  z-index: 0;
  width:100%;
  position: relative;
}

.blank-drawing{
  min-width: 200px;
  min-height: 100px;
}

.drawings-list{
  border: 1px solid lightgrey;
  box-sizing: border-box;
  background: #FAFAFA;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 20px;
  min-height: 100px;
}
