.drawing-show-left{
  height: 550px;
  width: 650px;
  float: left;
}

.drawing-show-right{
  width: 210px;
  margin-top: 20px;
  margin-left: 20px;
  overflow-y: scroll;
  padding-left:10px;
  float:left;
}

.description{
  height: 10px;
}


.drawing-show-bottom{
  padding-top: 5px;
  overflow-y: scroll;
}
