.drawing-thumbnail-wrapper{
  width: 210px;
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  /*position:relative;*/
}

.drawing-thumbnail{
  z-index: 0;
  width:100%;
  position: relative;
}

.drawing-thumbnail:hover + .drawing-thumbnail-overlay{
  display: block;
}

.drawing-thumbnail-overlay{
  display: none;
  position: relative;
  bottom: 5px;
  left: 15px;
}

.blank-drawing{
  min-width: 200px;
  min-height: 100px;
}
