.drawing-thumbnail-overlay{
  width: 210px;
  height: 40px;
  background: linear-gradient(lightgrey,black);
  opacity: .52;
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
  z-index: 1;
}

.favorite{
  width: 30px;
  height: 30px;
  margin-right: 25px;
  float: right;
  cursor: pointer;
}
