.drawing-thumbnail-wrapper{
  width: 210px;
  padding-left: 20px;
  padding-top: 20px;
  float: left;
  position:relative;
}

.drawing-thumbnail{
  z-index: 0;
  width:100%;
  position: relative;
}

.drawing-thumbnail:hover + .drawing-thumbnail-overlay{
  display: block;
}

.drawing-thumbnail-overlay{
  display: none;
  width: 210px;
  height: 30px;
  background: black;
  opacity: .02;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.blank-drawing{
  min-width: 200px;
  min-height: 100px;
}

.drawings-list{
  border: 1px solid lightgrey;
  box-sizing: border-box;
  background: #FAFAFA;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 20px;
  min-height: 100px;
}
