<!DOCTYPE html>
<html>
<head>
  <title>DrawIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script>
  filepicker.setKey("AnuW6Ev2RhqhELKo3AksAz");
</script>
</body>
</html>
