<div class="nav-container">
    <span class="site-title">DrawIt</span>
    <div class='search-container'>

    </div>
    <button class="sign-out">Sign Out</button>
    <a class="home-nav-link notifications">Notifications
      <strong class="badge"></strong>
    <div class="notifications-wrapper hidden"></div>
    </a>
    <a class="home-nav-link favorites">Favorites</a>
    <a class="home-nav-link profile">Profile</a>
</div>
