<div class="nav-container">
  <nav class="home-nav group">
    <span class="site-title">DrawIt</span>
    <a href="#" class="home-nav-link">Notifications</a>
    <a href="#" class="home-nav-link">Favorites</a>
    <a href="#" class="home-nav-link">Profile</a>
  </nav>
</div>
