<div class="nav-container">
    <span class="site-title">DrawIt</span>
    <a class="home-nav-link notifications">Notifications
    <strong class="badge"></strong>
    <div class="notifications-wrapper"></div>
    </a>
    <a class="home-nav-link favorites">Favorites</a>
    <a class="home-nav-link profile">Profile</a>
</div>
