<div class="nav-container">
  <nav class="home-nav group">
    <span class="site-title">DrawIt</span>
    <a href="#" class="home-nav-link notifications">Notifications</a>
    <a href="#" class="home-nav-link favorites">Favorites</a>
    <a href="#" class="home-nav-link profile">Profile</a>
  </nav>
</div>
