<div class="profile-cover">

</div>

<div class="profile-header group">

  <div class="profile-nav group">
    <span id="profile" class='profile-nav-link'>Profile</span>
    <span id="drawings" class='profile-nav-link'>Drawings</span>
    <span id="favorites" class='profile-nav-link'>Favorites</span>
    <span id="portfolios" class='profile-nav-link'>Portfolios</span>
    <span id="friends" class='profile-nav-link'>Friends</span>
  </div>
</div>
<% if(!hide){ %>
<div class="header group">
  <div class="header-content-container">
    <strong class="title"><%= title %></strong>
  <% if(profile.get('is_user')){ %>
    <button id="new_portfolio" class="header-button">Create Portfolio</button>
    <button id="new_drawing" class="header-button">Add Drawing</button>
  <% } %>
  </div>
</div>
<% } %>
