<div class="profile-cover">

</div>

<div class="profile-header group">

  <div class="profile-nav group">
    <span id="your_drawings" class='profile-nav-link'>Drawings</span>
    <span id="favorites" class='profile-nav-link'>Favorites</span>
    <span id="portfolios" class='profile-nav-link'>Portfolios</span>
    <span id="friends" class='profile-nav-link'>Friends</span>
  </div>

  <div class="header group">
    <span class="title"></span>
    <button id="new_portfolio" class="header-button">Create Portfolio</button>
    <button id="new_drawing" class="header-button">Add Drawing</button>
  </div>

</div>
