<div class="cover-image"
  style="background-image: url(<%=profile.escape('cover_url')%>)">
    <div class="profile-avatar">
      <img class='profile-avatar-image'
        src="<%= profile.escape('avatar_url')%>"></a>
    </div>

    <% if(!profile.get('is_user')){ %>
      <% if(!profile.get('is_friend')) { %>
        <button class="cover-button add-friend">Add Friend!</button>
      <% } else { %>
        <button class="cover-button remove-friend">Remove Friend</button>
      <% } %>
    <% } else{ %>
      <div class='edit-avatar'>Edit </div>
      <div class='edit-cover'>Edit     </div>
    <%}%>
</div>
