<div class="profile-cover">

</div>

<div class="profile-header group">

  <div class="profile-nav group">
    <span id="profile" class='profile-nav-link'>Profile</span>
    <span id="drawings" class='profile-nav-link'>Drawings</span>
    <span id="favorites" class='profile-nav-link'>Favorites</span>
    <span id="portfolios" class='profile-nav-link'>Portfolios</span>
    <span id="friends" class='profile-nav-link'>Friends</span>
  </div>
</div>

<% if(profile.get('is_user')){ %>
  <div class="header group">
    <span class="title"></span>
    <button id="new_portfolio" class="header-button">Create Portfolio</button>
    <button id="new_drawing" class="header-button">Add Drawing</button>
  </div>
<% } %>
