<div class="cover-image"
  style="background-image: url(<%=profile.escape('cover_url')%>)">
    <div class="profile-avatar">
      <img class='profile-avatar-image'
        src="<%= profile.escape('avatar_url')%>"></a>
    </div>
</div>
